@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.navbar {
    
    height: 6rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links {
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.nav-center {
    width: 90vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-link {
    color: black;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    font-size: 1.25rem;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;

}


.nav-logo {
    left: 50%;
}
.toggle-cart {
    background: transparent;
    border-color: transparent;
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
}
.cart-item-count {
    position: absolute;
    top: -0.85rem;
    right: -0.85rem;
    background: hsl(21, 62%, 45%);
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color:#000;
    font-weight: bold;
    font-size: 1rem;
}
.toggle-nav {
    background: hsl(21, 62%, 45%);;
    border-color: transparent;
    color: #fff;
    width: 3.75rem;
    height: 2.25rem;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition:  all 0.3s linear;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 2rem;
}
.Homecover>*{
    
    color: #fff;
}


.productPage>*{
    color: #000;
}